<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>

    <section class="main">
        <div class="container">
            <ul class="post-list">
                <% if (locals.post) {%>
                    <% const {createdAt , author, title, text, id} = post %>
                    <li class="post-list__item">
                        <button class="delete-btn new-position" data-id="<%= id %>">Delete</button>
                        <a href="/edit/<%= post.id %>" class="edit-btn" data-id="<%= id %>">Edit</a>
                        <div class="post-list__header">
                            <div class="post-list__date"><%= createdAt.toLocaleDateString() %></div>
                            <div class="post-list__author"><%= author %></div>
                        </div>
                        <div class="post-list__title">
                            <%= title %>
                        </div>
                        <div class="post-list__text">
                            <%- text %>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </section>
</body>

</html>